@import "../Varible.scss";
.header {
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("../../assets/header-med.jpg") center fixed;
}
